﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.navbar{
    background-color:lightblue;
}

footer{
    background-color:lightblue;
}

.linkitem {
    color: whitesmoke;
    font-family: 'Luckiest Guy',sans-serif;
}

#locationinput{
    width:100%;
}

#findbtn{
    width:100%;
}



#greetmessage{
    font-weight:700;
    text-align:center;
    font-size:70px;
    text-transform:uppercase;
    letter-spacing:8px;
    color:deepskyblue;
    margin-bottom:10px;
    position:relative;
    animation:greet 3s 1;
}
#greetdescr {
    text-align: center;
    font-size: 30px;
    color: #6ab04c;
    animation: greetdesc 2.7s;
}

@keyframes greet{
    0%{
        color:white;
        margin-bottom:-40px;
    }
    30% {
        letter-spacing:20px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }   
}

@keyframes greetdesc {
    0% {
        color: white;
    }

    30% {
        color: white;
    }

    85% {
        color: white;
    }
}

.temperatureinfo{
    color:deepskyblue;
    text-align:center;
}

.dayinfo {
    text-align: center;
    font-family: 'Luckiest Guy',sans-serif;
}

.infodiv {
    background-color: lightgrey;
    border: solid;
    border-color: white;
    border-width: 2px;
    visibility: visible;
    animation: infodivanim 1.5s;
}

.weatherphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tempheader{
    color:deepskyblue;
}

.leftheader{
    text-align:right;
}

.descr{
    font-size:15px;
}

.leftdescr{
    text-align:left;
}

.rightdescr {
    text-align: right;
}

.cityheader{
    background-color:darkgrey;
}

.cityname{
}

.cityheaderleft{
    text-align:right;
}

.cityheader {
    font-family: 'Luckiest Guy',sans-serif;
    padding: 0;
    font-size: 29px;
    visibility: visible;
    animation: citiheaderanim 3s;   
}

#daysbtns {
    animation: citiheaderanim 3s;
    visibility: visible;
    font-family: 'Luckiest Guy',sans-serif;
    background-color:darkgray;
}

.daybtn{
    text-align:right;
    padding:0;
    margin:0;
}

@keyframes infodivanim{
    0% {
        visibility:hidden;
        margin-top:160px;
    }

    30% {
        visibility: hidden;
        margin-top: 120px;
    }

    85% {
        visibility: hidden;
        margin-top: 100px;
    }
}

@keyframes citiheaderanim {
    0% {
        visibility: hidden;
        margin-left: -40px;
    }

    30% {
        visibility: hidden;
        margin-left: -40px;
    }

    85% {
        visibility: hidden;
        margin-left: -40px;
    }
}


li{
    float:left;
    margin-right:10px;
}

#locationinput{
    border-radius:50px;
    outline:none;
}

#findbtn {
    width: 100%;
    border-radius:50px;
}

#editdiv{
    margin:0;
}

#editact{
    text-align:left;
}

#cityaddinput {
    width: 100%;
    border-radius:50px;
}
#cityheader {
    margin-left: 15px;
    font-family: 'Luckiest Guy',sans-serif;
    color:deepskyblue;
}

.savedcitydiv {
    background-color: whitesmoke;
    border: solid;
    border-color: blue;
    border-width: 3px;
    text-align: center;
    font-family: 'Luckiest Guy',sans-serif;
    color:blue;
}

.savedcity{
    padding-left:50px;
}
.welcomediv{
    margin-top:150px;
}

.citybtn{
    margin-left:8px;
    padding:0;
}