﻿@model List<Domain.SavedPlace>;
@{
    ViewData["Title"] = "EditCity";
}

<h3 id="cityheader">Cities:</h3>

@using (Html.BeginForm("AddCity", "Home", FormMethod.Post))
{
    <div class="form-inline" id="formdiv">
        <div class="form-group m-sm-1 col-3">
            <input type="text" class="form-control" placeholder="Type city name" id="cityaddinput" name="CityName" required />
        </div>
        <div class="form-group float-right col-1">
            <button type="submit" id="findbtn" class="btn btn-outline-primary tbbtn">Add</button>
        </div>
    </div>
}

<div class="row">

    @foreach(var city in Model)
    {
        <div class="col-2 savedcitydiv m-2">
            <h4>@city.Name</h4>
        </div>
    }

</div>