﻿@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization;
@model Application.WeatherData;
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "sendLocationForm" }))
{
    <div class="form-inline bg-light rounded" id="formdiv">
        <div class="form-group m-2 col-10">
            <input type="text" class="form-control" placeholder="Type location" id="locationinput" name="Location" value="@ViewBag.city" required />
        </div>
        <input type="hidden" class="for" id="daysinput" name="Days" value="@ViewBag.days" required />
        <div class="form-group float-right m-1 col-1">
            <button type="submit" id="findbtn" class="btn btn-outline-primary tbbtn">Find</button>
        </div>
    </div>
}

<div class="row bg-light rounded" id="editdiv">
    <div class="col-10">
        <ul class="list-unstyled savedcities">
            @foreach(var city in ViewBag.savedcities)
            {
            <li>
                <button value="@city.Name" type="button" class="btn btn-link citybtn" onclick="GetCityWeather(event)">@city.Name</button>
            </li>
            }
        </ul>
    </div>
    <div class="col-2">
        <a class="nav-link" id="editact" asp-area="" asp-controller="Home" asp-action="GetCities">Edit cities</a>
    </div>
</div>

@if (Model!=null)
{
    <div class="row cityheader">
        <div class="col-sm">
            <h3 class="cityheader">@Model.city.name @Model.city.country</h3>
        </div>
        <div class="col-sm cityheaderleft">
            <h4 class="cityheader">Weather Forecast For @ViewBag.days Days</h4>
        </div>
    </div>
    <div class="row" id="daysbtns">
        <div class="col-10">
        </div>
        <div class="col-sm">
            <ul class="list-unstyled">
                <li>
                    <button value="3" type="button" class="btn btn-link daybtn" onclick="ChangeDays(event)">3 Days</button>
                </li>
                <li>
                    <button value="5" type="button" class="btn btn-link daybtn" onclick="ChangeDays(event)">5 Days</button>
                </li>
            </ul>
        </div>
    </div>
}

<div class="row">
    @if (Model != null)
    {
        foreach (var info in Model.list)
        {
            string photo = $"/Icons/{info.weather[0].icon}.png";
            <div class="col-sm infodiv">
                <h4 class="temperatureinfo">@info.main.temp&deg;</h4>
                <h4 class="dayinfo">@info.date.Day @info.date.ToString("MMMM", new CultureInfo("en-US"))</h4>
                <img src="@photo" class="weatherphoto" />
                <h4 class="dayinfo">@info.weather[0].description</h4>
                <div class="row">
                    <div class="col-sm">
                        <h5 class="tempheader leftheader">Min</h5>
                        <h6 class="tempheader leftheader">@info.main.temp_min&deg;</h6>
                        <h5 class="descr leftdescr">Pressure:</h5>
                        <h5 class="descr leftdescr">Humidity:</h5>
                        <h5 class="descr leftdescr">Clouds:</h5>
                        <h5 class="descr leftdescr">Windspeed:</h5>
                    </div>
                    <div class="col-sm">
                        <h5 class="tempheader">Max</h5>
                        <h6 class="tempheader">@info.main.temp_max&deg;</h6>
                        <h5 class="descr rightdescr">@info.main.pressure hPa</h5>
                        <h5 class="descr rightdescr">@info.main.humidity%</h5>
                        <h5 class="descr rightdescr">@info.clouds.all%</h5>
                        <h5 class="descr rightdescr">@info.wind.speed mps</h5>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-sm-12 welcomediv">
            <h2 id="greetmessage">Welcome in</h2>
            <p id="greetdescr">
                FindWeather service is ready for you!
                Type any city to know it`s weather
            </p>
        </div>
    }
</div>